body {
    background: #242D46;
    color: white;
    /* text-align: center; */
}
.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 1140px;
}
canvas {
    height: 90vh;
}
.score-hud {
    margin: 0 auto;
    width: 200px;
    align-self: start;
    /* vertical-align: top; */
}